Repository hmcts/feature-toggle-api, pull requests merged in 2019-02, with the labels that each got.

#90 Enable helm chart deployment
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  charts/feature-toggle-api/Chart.yaml
  charts/feature-toggle-api/requirements.lock
  charts/feature-toggle-api/requirements.yaml
  charts/feature-toggle-api/templates/deployment.yaml
  charts/feature-toggle-api/templates/ingress.yaml
  charts/feature-toggle-api/templates/service.yaml
  charts/rpe-feature-toggle-api/.helmignore
  charts/rpe-feature-toggle-api/Chart.yaml
  charts/rpe-feature-toggle-api/images/icons8-java-50.png
  charts/rpe-feature-toggle-api/requirements.lock
  charts/rpe-feature-toggle-api/requirements.yaml
  charts/rpe-feature-toggle-api/templates/NOTES.txt
  charts/rpe-feature-toggle-api/templates/_helpers.tpl
  charts/rpe-feature-toggle-api/templates/bin/_dns-register.tpl
  charts/rpe-feature-toggle-api/templates/dns-configmap.yaml
  charts/rpe-feature-toggle-api/templates/dns.yaml
  charts/rpe-feature-toggle-api/templates/importer.yaml
  charts/rpe-feature-toggle-api/templates/tests/test-service.yaml
  charts/rpe-feature-toggle-api/values.template.yaml
Labels: ns:rpe-feature-toggle-api-pr-90

#94 Add cron and oneoff importers
  charts/rpe-feature-toggle-api/Chart.yaml
  charts/rpe-feature-toggle-api/templates/importer.yaml
  charts/rpe-feature-toggle-api/values.template.yaml
Labels: ns:rpe-feature-toggle-api-pr-94

#95 Update chart version to match published
  charts/rpe-feature-toggle-api/Chart.yaml
Labels: ns:rpe-feature-toggle-api-pr-95

#96 add postgresqlDatabase value
  charts/rpe-feature-toggle-api/Chart.yaml
  charts/rpe-feature-toggle-api/values.template.yaml
Labels: ns:rpe-feature-toggle-api-pr-96

#93 CNP-1155-Java-chart-version - prevent pod from running container process as root
  charts/rpe-feature-toggle-api/requirements.yaml
Labels: ns:rpe-feature-toggle-api-pr-93

#97 use new java chart with dns support
  charts/rpe-feature-toggle-api/Chart.yaml
  charts/rpe-feature-toggle-api/requirements.lock
  charts/rpe-feature-toggle-api/requirements.yaml
  charts/rpe-feature-toggle-api/templates/bin/_dns-register.tpl
  charts/rpe-feature-toggle-api/templates/dns-configmap.yaml
  charts/rpe-feature-toggle-api/templates/dns.yaml
  charts/rpe-feature-toggle-api/values.template.yaml
Labels: ns:rpe-feature-toggle-api-pr-97

#99 Features/livenessendpoint
  build.gradle
  charts/rpe-feature-toggle-api/values.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/feature/controllers/LivenessControllerTest.java
  src/main/java/uk/gov/hmcts/reform/feature/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/feature/controllers/LivenessController.java
Labels: ns:rpe-feature-toggle-api-pr-99
